<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="2.0.0" targetFramework="net48" />
  <package id="AutoFixture" version="3.34.2" targetFramework="net45" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.34.2" targetFramework="net45" />
  <package id="AutoFixture.Idioms" version="3.34.2" targetFramework="net45" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net48" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net35-client" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
</packages>